.cash {
  height: 100vh;
  width: auto;
}

.cashHeader {
  height: 90px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d9d9d9; */
  background-color: aqua;
}

.cashHeader h2 {
  font-weight: bolder;
}

.cashBody {
  display: flex;
  justify-content: center;
}

.cashForm {
  margin-top: 1rem;
  padding: 1rem 1rem;
  max-height: 75vh;
  width: 80%;
  background-color: #d9d9d9;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

::-webkit-scrollbar {
  /* hides the scroll bar*/
  width: 0.2em;
  background-color: transparent;
}

form {
  width: 100%;
  object-fit: cover;
}

#subbtn {
  background-color: aqua;
}

form .btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.cashForm .mb-3 textarea{
  margin-left: 2rem;
  width: 40%;
}