.CP {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: violet; */
}

.cardCP {
  border-radius: 20px;
  margin-top: -3rem;
  height: 65vh;
  background-color: #d9d9dd;
  width: 70%;
  padding: 0rem 3rem 0rem;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 0px 20px 15px lightblue;
}

.cardCP .test {
  padding-top: 5rem;
  height: 100%;
  width: 50%;
  text-align: center;
  /* background-color: tomato; */
}

.cardCP .test .criteriaSS {
  display: flex;
  padding-top: 2rem;
  padding-left: 2rem;
  flex-direction: column;
  justify-content: center;
}
.cardCP .test .criteriaSS li {
  width: 100%;
  text-align: left;
  /* background-color: thistle; */
}
.cardCP .forpsw {
  width: 50%;
  /* background-color: violet; */
}

.cardCP .CPtitle {
  height: 15%;
  margin-bottom: 2rem;
  padding-top: 1rem;
  text-align: center;
  /* background-color: tomato; */
}

.cardCP .form-label {
  margin: 0px;
  /* background-color: teal; */
}

.btnsub {
  display: flex;
  justify-content: center;
}

#subbtn {
  margin: 0 auto;
  /* color: black; */
}

#subbtn:hover {
  background-color: #07e2a0;
  /* box-shadow: 0px 0px 20px 5px rgb(48, 203, 247); */
}

form .btn {
  /* background-color: cyan; */
  display: flex;
  justify-content: center;
}

.ipic {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
span {
  margin-left: 0.2rem;
  /* background-color: red; */
}
@media (max-width: 768px) {
  .cardCP .test {
    display: none;
    padding-top: 5rem;
    height: 100%;
    width: 50%;
    text-align: center;
    /* background-color: tomato; */
  }

  .cardCP .forpsw {
    width: 100%;
  }
}
