/*----------  CSS for whole dashboard section ----------*/
.dashboard {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 80%;
  position: fixed;
  left: 20%;
  background-color: #d9d9d9;
}

/*----------  CSS for dashboard's header section ----------*/

.dashboard .dash_header {
  background-color: #fff;
  border-radius: 50px 0px 0px 0px;
  height: 12%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.clockDiv {
  height: 100%;
  width: 20%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash_header .clockDiv #clock {
  font-size: 25px;
  font-weight: bold;
  padding-left: 1.5rem;
}

/* ----------  CSS for dashboard's header's notification div ----------*/
.dashboard .notification_div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
}

.notification_div .badge {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.badge #bellIcon {
  color: black;
}

/*----------  CSS for dashboard's header's Username and image div ----------*/

.dash_header .userName_div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showUser {
  height: 2.5rem;
  width: 80%;
  background-color: #d9d9d9;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.showUser .userName {
  width: 90%;
  height: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showUser .userImage {
  overflow: hidden;
  width: 2.5rem;
  height: auto;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
}

#img-profile {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

/*----------  CSS for dashboard's separation line section ----------*/
.dashboard .dash_separator {
  height: 0.5%;
  background-color: rgb(0, 0, 0);
}

/*----------  CSS for dashboard's body section ----------*/
.dashboard .dash_body {
  background-color: #fff;
  height: 87.5%;
  width: 100%;
}

.dash_body .header {
  height: 30%;
  width: 100%;
}

.greet {
  margin-top: 3rem;
  height: 185%;
  width: 70%;
  display: flex;
  margin-left: 35%;
}
.message {
  height: 80%;
  width: 80%;
  align-self: flex-end;
  background-color: #36afbf;
  border-radius: 30px;
}

.greet_mgs {
  height: 60%;
  width: 80%;
  display: flex;
  padding-left: 10%;
  align-items: center;
  font-size: 35px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}

.back {
  height: 40%;
  width: 80%;
  display: flex;
  padding-left: 10%;
  font-size: 25px;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}

.profile-image {
  position: relative;
  height: 95%;
  width: 18%;
  right: 13%;
  border: 3px solid white;
  align-self: flex-end;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile_info {
  height: 75%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  margin-top: 3rem;
  overflow-x: auto;
  height: 80%;
  width: 80%;
  border-radius: 3rem;
  background-color: #a5c7da;
}

.infoTitle {
  height: 15%;
  padding-left: 2rem;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
}

.informations {
  height: 84%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0rem 2rem 2rem;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
