.body {
  height: 100vh;
  top: 0;
}

.FPfbody {
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  /* background-image: url("../components/image/SERAlogo.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FPfBox {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.FPfBox .fformBox h2 {
  color: #607b8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 1rem 0rem;
  border-bottom: 4px solid #07e2a0;
  display: inline-block;
  /* letter-spacing: 1px; */
}

.paragraph span {
  font-size: 14px;
}

.FPfBox .fformBox {
  padding: 2.5rem;
  width: 90%;
}
.useremail {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  margin: 1rem 0rem;
  width: 90%;
  padding: 10px 20px;
  letter-spacing: 1px;
  border: 1px solid #607d8b;
  background: transparent;
  border-radius: 30px;
}

span {
  font-weight: 500;
}

.FPfBox .fformBox .inputBx {
  width: 100%;
  display: flex;
  justify-content: center;
}

.FPfBox .fformBox .inputBx button {
  background: #07e2a0;
  width: 20%;
  color: #fff;
  outline: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.FPfBox .fformBox .inputBx button:hover {
  background: #36f5b5;
}
