.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.selectsection {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btnsection {
  margin-top: 2rem;
}

.inputBx {
  width: 8rem;
}
#searchbtn {
  width: 100%;
  border-radius: 20px;
}
/* 
.card-body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

::-webkit-scrollbar {
  /* hides the scroll bar*/
  margin-top: 2rem;
  width: 0.2em;
  background-color: transparent;
}

.searchStudentCard .search-card {
  position: relative;
  overflow: auto;
  margin-top: 2rem;
  height: 45vh;
  width: 95%;
  /* background-color: chartreuse; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardFSearchStd {
  padding: 0px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchStudentCard {
  background-color: #d9d9d9;
  height: 90%;
  width: 90%;
  border-radius: 20px;
}

.Scard {
  /* padding-top: 8rem; */
  /* margin-top: 2rem; */
  min-height: auto;
  width: 95%;
  border-radius: 20px;
  max-height: 65vh;
  background-color:  #a5c7da;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.individualCardd {
  margin-top: auto;
  width: 95%;
}

.individualCardd ul {
  margin: 1rem 0rem;
  border-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.individualCardd .imageSec #img-profile {
  border-radius: 0;
  object-fit: cover;
}

.imageSec {
  height: 7em;
  width: 7rem;
  margin: 1%;
  overflow: hidden;
  border-radius: 20px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  height: 90%;
  width: 65%;
  margin: 0 1%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.option button {
  background-color: #5AA3CB;
  border-radius: 15px;
  width: 7rem;
  color: white;
  font-weight: 500;
}

/* .option button:hover {
  box-shadow: 0px 0px 15px 2px rgb(0, 173, 231);
} */
